@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Switzer:wght@400;600;700&display=swap');

@font-face {
  font-family: 'ibrand';
  src: url('/fonts/ibrand.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  min-height: 100vh !important;
  min-width: 100vw !important;
  width: 100vw !important;
  height: 100vh !important;
  background: var(--background) !important;
  background-attachment: fixed !important;
  color: var(--foreground);
  font-family: 'Switzer', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
